<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huwalaumba</title>

    <environment names="Development">
        <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Tubes AI 1</a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <h1>HUWALAUMBA</h1>
        <p>Class Scheduling</p>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    <div class="container-fluid">
        <footer style="margin: 0 0 0 50px; width: 90%">
            <hr />
            <h4>&copy; 2016 - Huwalaumba</h4>
            <h5><b>Ade - Ali - Ari - Azka - Majid</b></h5>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="https://rawgit.com/shvetsgroup/jquery.multisortable/master/src/jquery.multisortable.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.sortable-list').sortable({
                    //VALIDATOR
                    change: function (event, ui) {
                  //buat validasi, tp ini command trial dulu
                  var index = ui.placeholder.index();
                  $('#sortable-list li:nth-child(' + index + ')').addClass('highlights');
              },
			  connectWith: '.sortable-list',
			  update: function(event, ui) {
				var changedList = this.id;
				var order = $(this).sortable('toArray');
				var positions = order.join(';');

				console.log({
				  id: changedList,
				  positions: positions
				});
			  }
                });
                $(".selector").sortable({
                    disabled: true
                });
                $(".selector").sortable({ axis: 'y' });
            });
        </script>
        <script type="text/javascript">
        jQuery(function ($) {
            $('ul.sortable-list').multisortable();
        });
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
